@namespace Templates

@using SampleClient.Models

@model IList<Pet>

@try
{
    @foreach (var pet in this.Model) {
        <text>
        [*]
        <p>@pet.Name</p>



        </text>
    }
}
catch(Exception err) {
    <text> 
    // @err.Message 
    </text>
}
finally {
    <text>
    [*] 
    // Finally 
    </text>
}




